@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap");
$base-font: "Rubik", sans-serif;
$base-font-weight: 300;
$heavy-font-weight: 500;
$base-padding: 0.5rem 0.75rem;
$base-radius: 0.45rem;
$base-padding: 0.1rem 1rem;
$base-color: #666;
$base-background: #f6f7fc;
$error-color: #e63946;
$base-color-light: #a8dadc;
$button-color: #06d6a0;
$base-shadow: 0 0 0.55rem rgba(9, 9, 9, 0.3);
$base-transition: opacity 0.2s ease-in-out;
$svg-height: 1rem;
$field-radius: 0.25rem;
$form-width: 80%;

$border-light: #666;
$border-weight: 0.15rem;
$border-style: solid;

$small: 600px;
