@import "./variables";
.container {
  // background-color: $base-background;
}
.fieldset {
  background-color: $base-background;
}
.font {
  font-family: $base-font;
  font-weight: $base-font-weight;
  color: $base-color;
}
.heavy {
  font-weight: $heavy-font-weight;
}
.form {
  width: $form-width;
  margin: auto;
}
.fieldset {
  border-radius: $base-radius;
  margin: 1rem;
  border: $border-weight $border-light $border-style;
}
.span {
  display: flex;
  align-items: center;
}
.hide {
  opacity: 0;
}
.span__error {
  color: $error-color;
  height: $svg-height;
  align-self: center;
  opacity: 1;
  padding-top: 0.25rem;
}

.span__error::before {
  content: url("./logo.svg");
  //   content: "\e002";
}
svg#alert,
svg {
  width: $svg-height;
  height: $svg-height;
  fill: $error-color;
}

.label {
  display: block;
}
.center {
  text-align: center;
  margin: auto;
}
.left {
  text-align: left;
}
.alert {
  background: pink;
  width: 70vw;
  // padding: $base-padding;
  border-radius: $base-radius;
}
.shadow {
  box-shadow: $base-shadow;
}
.fade-in {
  transition: $base-transition;
}
.grow:focus {
  // padding: 0.1rem;
}
.outline:focus {
  transition: $base-transition;
  box-shadow: $base-shadow;
}
.button {
  background-color: $base-color;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: $base-radius;
  color: #fff;
}
.input__text {
  width: 15rem;
  height: 1.25rem;
}
